/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap");

/* common style  */

body {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  width: 95%;
  margin: auto;
}

/* nav style  */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
}

ul a {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-right: 120px;
}

ul li {
  list-style: none;
}

/* start your journey  */

.journey-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 52px;
}

.section-description {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 16px;
}

.btn-primary {
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  border: none;
}

/* responsive style ----------------------------------------
------------------------------------------------------------ */

/* for mobile */

@media only screen and (max-width: 688px) {
  /* nav responsive style  */
  .nav,
  .nav-list {
    flex-direction: column;
  }

  /* start your journey responsive  */

  .journey-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .info {
    text-align: center;
  }
}
